In [73]:
import pandas as pd
poke=pd.read_csv('Pokemon.csv')
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
#poke.to_csv('poke1.csv') es para convertir a csv

In [59]:
poke.columns
#print(poke[['Name','Type 1','Type 2']][0:10])
#print(poke.head(4))
#para leer cada columna:
#print(poke.iloc[1:4])
#para obtener un valor específico se pone la coordenada:
#print(poke.iloc[2,1])
#para iterar entre las filas:
#for index, row in poke.iterrows():
    #print(index,row['Name'])
#para encontrar info con una condición que no es numérica necesariamente usamos loc en vez de iloc:
#poke.loc[poke['Type 1']=='Fire']

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [60]:
#presenta datos generales de la información
#poke.describe()
#para imprimir el marco de datos:
#poke
#para imprimir el marco de datos con algún criterio, por ejemplo, el nombre alfabéticamente:
#poke.sort_values('Name') #si le ponemos, dentro del paréntesis "ascending=False" lo hace al revés
#se pueden usar dos valores:
#poke.sort_values(['Type 1', 'HP'], ascending=False)

In [71]:
#para crear una nueva columna:
#poke['Total']=poke['HP'] + poke['Attack'] + poke['Speed'] + poke['Defense'] + poke['Sp. Atk'] + poke['Sp. Def']
#poke.head(5)
#para quitar una columna:
#poke=poke.drop(columns=['Total'])
#otra forma de crear columnas nuevas:
#poke['Total']=poke.iloc[:,5:11].sum(axis=1)
#poke

,Unnamed: 0,Unnamed: 0.1,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,0,1,Bulbasaur,Grass,Poison,526,45,49,49,65,65,45,1,False
1,1,1,2,Ivysaur,Grass,Poison,670,60,62,63,80,80,60,1,False
2,2,2,3,Venusaur,Grass,Poison,870,80,82,83,100,100,80,1,False
3,3,3,3,VenusaurMega Venusaur,Grass,Poison,1050,80,100,123,122,120,80,1,False
4,4,4,4,Charmander,Fire,NaN,503,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,795,719,Diancie,Rock,Fairy,1000,50,100,150,100,150,50,6,True
796,796,796,719,DiancieMega Diancie,Rock,Fairy,1180,50,160,110,160,110,110,6,True
797,797,797,720,HoopaHoopa Confined,Psychic,Ghost,1000,80,110,60,150,130,70,6,True
798,798,798,720,HoopaHoopa Unbound,Psychic,Dark,1150,80,160,60,170,130,80,6,True
799,799,799,721,Volcanion,Fire,Water,1040,80,110,120,130,90,70,6,True

In [75]:
#poke.to_csv('poke2.csv')
poke.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [77]:
#Para analizar un grupo
poke.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

In [86]:
#para imprimir un df demasiado grande para ver en un intento
#for poke in pd.read_csv('Pokemon.csv', chunksize=5):
 #   print('CHUNK POKE')
  #  print(poke)
#para procesar los resultados y luego sumarlos a un nuevo df:
new_poke=pd.DataFrame(columns=poke.columns)
for poke in pd.read_csv('Pokemon.csv', chunksize=5):
    results=poke.groupby(['Type 1']).count()
    
    new_poke=pd.concat([new_poke, results])